---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="About">
    <Container class="py-10">
        <h1 class="text-white text-5xl font-bold">Community</h1>

        <div class="w-full border border-lightGrey rounded-md p-5 mt-5">
            <a href="https://t.me/kavkaco">
                <h1 class="text-blue-500 text-2xl font-bold flex flex-row gap-2 items-center">
                    <Icon name="simple-icons:telegram" />
                    Telegram
                </h1>
            </a>

            <p class="text-white mt-2">Stay connected with the Kavka's community! Join our Telegram channel, to be the first to know about new features, updates, and exciting developments. Get involved in discussions, share your feedback, and connect with fellow Kavka users.</p>
        </div>
    </Container>
</Layout>
