---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="About">
    <Container class="py-10">
        <h1 class="text-white text-5xl font-bold">Community</h1>

        <div class="w-full border border-lightGrey rounded-md p-5 mt-10">
            <a href="/">
                <h1 class="text-red-500 text-2xl font-bold flex flex-row gap-2 items-center">
                    <Icon name="simple-icons:mastodon" />
                    YouTube
                </h1>
            </a>

            <p class="text-white mt-2">
                Want to stay updated on the latest Kavka news, development updates, and exciting features? Subscribe to our YouTube channel for exclusive content, tutorials, and behind-the-scenes glimpses into the world of Kavka. Be part of our journey as we shape the future of
                messaging together!
            </p>
        </div>

        <div class="md:flex-row flex flex-col gap-4 mt-4">
            <div class="w-full border border-lightGrey rounded-md p-5">
                <a href="https://mastodon.social/@kavka">
                    <h1 class="text-indigo-600 text-2xl font-bold flex flex-row gap-2 items-center">
                        <Icon name="simple-icons:mastodon" />
                        Mastodon
                    </h1>
                </a>

                <p class="text-white mt-2">Join the Kavka community on Mastodon and stay updated on the latest news, features, and developments. Connect with like-minded individuals who value privacy and open-source software.</p>
            </div>

            <div class="w-full border border-lightGrey rounded-md p-5">
                <a href="https://t.me/kavkaco">
                    <h1 class="text-blue-500 text-2xl font-bold flex flex-row gap-2 items-center">
                        <Icon name="simple-icons:telegram" />
                        Telegram
                    </h1>
                </a>

                <p class="text-white mt-2">
                    Stay connected with the Kavka community! Join our Telegram channel, to be the first to know about new features, updates, and exciting developments. Get involved in discussions, share your feedback, and connect with fellow Kavka users.
                </p>
            </div>
        </div>
    </Container>
</Layout>
