---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Open source",
    description:
      "Kavka's source code is freely available for anyone to inspect, modify, and contribute to.",
    icon: "bx:bxl-github",
  },
  {
    title: "Security",
    description:
      "Kavka prioritizes speed and reliability, offering a secure central server to keep your messages accessible and protected.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Strong encryption",
    description:
      "Kavka utilizes robust encryption to ensure your messages remain confidential, keeping your conversations strictly between you and the intended recipient.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-20">
  <h2 class="text-white text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why we prefer to use Kavka
  </h2>
  <p class="text-lg mt-4 text-slate-300">
    While Kavka is a centralized platform, it offers a secure and reliable
    experience. Our data is entrusted to their robust servers, ensuring messages
    are always accessible and protected. This focus on stability gives us peace
    of mind, knowing our conversations are in safe hands.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-primary rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white font-bold" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-white">{item.title}</h3>{" "}
          <p class="text-slate-400 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
