<footer class="my-20">
  <p class="text-center text-sm text-slate-300">
    Copyright © {new Date().getFullYear()} Kavka. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-400 mt-1">
    Made by ❤️.
  </p>
</footer>
