---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center md:pb-8">
  <div class="pt-6 lg:order-1 md:block">
    <Picture
      src={heroImage}
      alt="Kavka Application View"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-white text-5xl lg:text-6xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      Safer and faster communication with Kavka!
    </h1>
    <p class="text-lg mt-4 text-slate-300 max-w-xl">
      Kavka is an open-source messenger designed for secure, private and quick
      communication.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a
        href="https://github.com/kavkaco"
        class="flex gap-1 items-center justify-center bg-transparent py-2 px-3 rounded-md border border-yellow-600 text-yellow-600"
      >
        <Icon class="w-5 h-5" name="bx:bxl-github" />

        Star on GitHub
      </a>
    </div>
  </div>
</main>
