body {
    background-color: #000 !important;
}

#astronav-menu svg {
    width: 30px !important;
    height: 30px !important;
}

.text-context {
    &,
    p,
    h1,
    h2,
    h3,
    span,
    b,
    ul,
    li,
    i {
        color: #fff !important;
    }
    font-size: 26px;
}

.team-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: calc(100% / 3 - 15px) calc(100% / 3 - 15px) calc(100% / 3 - 15px);

    @media screen and (max-width: 1100px) {
        & {
            grid-template-columns: calc(100% / 2 - 15px) calc(100% / 2 - 15px);
        }
    }

    @media screen and (max-width: 750px) {
        & {
            grid-template-columns: auto;
        }
    }
}
